* {
	padding: 0;
	margin: 0;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.hero-section {
	background-image: url("../images/lam-top-image.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
}

#navbar-content {
	width: 60%;
}

#top-logo {
	margin-left: 1rem;
}

.nav-links a {
	color: white;
}

.nav-links a,
.second-nav-links a {
	cursor: pointer;
	font-weight: 600;
}

.history-link {
	margin-right: 3rem;
}

.second-nav-links a {
	color: #364659;
}

.history-section {
	background-image: url("../images/lam-middle-image.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	display: grid;
	justify-items: center;
	align-content: space-between;
}

.history-info {
	padding-top: 3rem;
	/* border: solid 2px red; */
	width: 62%;
}

.history-title {
	justify-self: start;
}

.history-text {
	/* border: solid 2px green; */
	padding-left: 3.5rem;
	padding-right: 3.5rem;
}

.gallery {
	/* border: solid 2px yellow; */
	height: 10rem;
	width: 100%;
}

.gallery-cell {
	height: 10rem;
	width: 100%;
	margin-right: 10px;
	background-color: #364659cf;

	display: grid;
	justify-items: center;
	align-content: center;
}

.flickity-page-dots {
	top: 9.25rem;
}

.flickity-page-dots button {
	background-color: rgba(255, 255, 255, 0.475);
}

.flickity-page-dots button.is-selected {
	background-color: rgb(255, 255, 255);
}

.climb-section {
	display: grid;
	justify-items: center;
}

.climb-info {
	display: flex;
	align-items: center;
	/* border: solid 2px red; */
	width: 62%;

	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 3rem;
	padding-right: 1rem;
}

.climb-text {
	padding-left: 1rem;
}

.mountain-tabs {
	background-color: #364659;
	width: 100%;
	height: 2.5rem;
	display: grid;
	justify-items: center;
}

.tabs {
	width: 62%;
	display: flex;
	align-items: center;
}

.tabs button {
	height: 100%;
	font-weight: 500;
	border-radius: 0%;
	border: none;
	padding-left: 1rem;
	padding-right: 1rem;
}

.active {
	background-color: rgb(171, 171, 171);
	color: #364659;
	text-decoration: underline;
}

.inactive {
	background-color: #364659;
	color: rgb(171, 171, 171);
}

.accordion-button {
	color: #364659;
	font-weight: 500;
}

#schedule-section {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	display: grid;
	justify-items: center;
	align-content: space-between;
}

.active-section {
	background-image: url("../images/lam-tab-1.png");
}

.inactive-section {
	background-image: url("../images/lam-tab-2.png");
}

.schedule-image {
	/* border: solid 2px red; */
	width: 62%;
}

.schedule-image img {
	margin-top: 6rem;
	margin-left: 2.5rem;
}

.active-tab-image {
	display: block;
}

.inactive-tab-image {
	display: none;
}

.accordion {
	display: none;
}

#accordion-body-one,
#accordion-body-two {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 60vh;
	display: grid;
	place-content: center;
}

#accordion-body-one {
	background-image: url("../images/lam-tab-1.png");
}

#accordion-body-two {
	background-image: url("../images/lam-tab-2.png");
}

.footer {
	background-color: #465573;
	width: 100%;
	height: 5rem;
	display: grid;
	justify-items: center;
}

.footer-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 62%;
	/* border: solid 2px green; */
}

.footer-logo-link {
	margin-left: 1.5rem;
}

.copyright {
	color: #687da6;
	font-weight: 500;
}

@media screen and (max-width: 768px) {
	.hero-section {
		height: 40vh;
	}

	#navbar-content {
		width: 100%;
	}

	#top-logo {
		margin-left: 0rem;
	}

	.history-info {
		width: 90%;
	}

	.history-text {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.climb-info {
		width: 90%;
		display: grid;

		margin-top: 2rem;
		margin-bottom: 1rem;
		padding-left: 0rem;
		padding-right: 0rem;
	}

	.climb-title {
		justify-self: start;
	}

	.mountain-tabs,
	#schedule-section,
	.schedule-image {
		display: none;
	}

	.accordion {
		display: block;
	}

	.footer {
		background-color: #465573;
		width: 100%;
		height: 5rem;
		display: grid;
		justify-items: center;
	}

	.footer-div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 90%;
		/* border: solid 2px green; */
	}

	.footer-logo-link {
		margin-left: 0rem;
	}

	.footer-logo-link img {
		width: 120px;
		height: 40px;
	}

	.copyright {
		color: #687da6;
		font-weight: 500;
		font-size: small;
	}
}
