* {
	padding: 0;
	margin: 0;
}

.top-section {
	background-image: url("../images/lam-top-image.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
}

#navbar-content {
	width: 60%;
}

.nav-links a {
	color: white;
}

.nav-links a,
.second-nav-links a {
	cursor: pointer;
	font-weight: 600;
}

.history-link {
	margin-right: 3rem;
}

.second-nav-links a {
	color: rgb(61, 61, 116);
}

.middle-section {
	background-image: url("../images/lam-middle-image.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	display: grid;
	justify-items: center;
}

.history-info {
	padding-top: 3rem;
	/* border: solid 2px red; */
	width: 62%;
}

.history-title {
	justify-self: start;
}

.history-text {
	/* border: solid 2px green; */
	padding-left: 3.5rem;
	padding-right: 3.5rem;
}
